:root {
  --primary: #F3991D;
  --primary-text: #390E12;
  --secondary: #390E12;
  --secondary-text: #ffffff;
  --accent: #505050;
  --accent-text: #ffffff;
}
.cursor {
  cursor: url(images/bone.cur), auto;
}
a:-webkit-any-link:active {
  color: #390E12;
}
a:-webkit-any-link {
  color: #390E12;
  cursor: pointer;
  text-decoration: none;
}